.starstruckmaiden {
  background-color: rgba(147, 112, 219, 0.1); /* Light purple background */
  border: 1px solid #9370db; /* Medium purple border */
}
.starstruckmaiden .window-content {
  background: linear-gradient(
    to bottom,
    #e6e6fa,
    #d8bfd8
  ); /* Purple gradient */
}
